<div class="border-b dark:border-gray-700 pb-44 pt-40">
  <div class="container">
    <div class="flex flex-col items-center">
      <h2
        class="text-3xl sm:text-5xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200"
      >
        eCommerce Rest API
      </h2>
      <p class="mt-3 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        Free complete store rest api for testing your application and prototypes
      </p>
      <div class="flex items-center mt-8">
        <a
          href="#try_area"
          class="bg-primary font-bold py-3 px-6 border border-transparent text-lg rounded mr-4"
        >
          Try now
        </a>
        <a
          routerLink="/docs"
          class="
            items-center
            justify-center
            px-5
            py-3
            border border-transparent
            text-lg
            font-semibold
            rounded-md
            bg-yellow-400
          "
        >
          <span class="flex items-center">Read Docs <mat-icon class="ml-2">article</mat-icon></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="pb-16">
  <div class="container">
    <div id="try_area" class="pt-16">
      <h3 class="text-3xl font-extrabold tracking-tight text-indigo-900 dark:text-indigo-200">
        Try it
      </h3>
      <p class="text-lg mt-2 text-gray-500">Run this code in a console or from any site:</p>
      <div class="grid grid-cols-1 md:grid-cols-2 -mx-2">
        <div class="px-2">
          <!-- <app-prism [code]="code"></app-prism> -->
          <button
            (click)="fetchProduct()"
            type="button"
            class="bg-primary text-black py-1 px-3 mt-2 rounded text-sm"
          >
            Run script
          </button>
        </div>
        <div class="px-2">
          <div
            *ngIf="isProductLoading"
            style="background-color: #272822; padding: 16px; margin: 8px 0; border-radius: 0.3em"
          >
            <mat-spinner [strokeWidth]="2" [diameter]="20"></mat-spinner>
          </div>
          <!-- <app-prism
            *ngIf="!isProductLoading"
            [code]="productRes ? (productRes | json) : '{}'"
          ></app-prism> -->
        </div>
      </div>
    </div>
    
    <div class="grid xl:grid-cols-2 -mx-4">
      <div class="mt-16 px-4">
        <h3 class="text-3xl font-extrabold tracking-tight text-indigo-900 dark:text-indigo-200">
          Resources
        </h3>
        <p class="text-lg mt-2 text-gray-500">The main resources need in shopping prototypes</p>
        <div class="flex flex-col max-w-xl shadow rounded mt-2">
          <a
            target="_blank"
            [href]="apiBaseUrl + '/users'"
            class="
              flex
              justify-between
              items-center
              hover:bg-indigo-100
              dark:hover:bg-gray-700
              py-4
              px-4
              border-b
              dark:border-gray-700
            "
          >
            <div class="mr-2">
              <div>User</div>
            </div>
            <span class="rounded-full bg-primary text-white px-2 py-1 text-xs font-bold">14</span>
          </a>
          <a
            target="_blank"
            [href]="apiBaseUrl + '/products'"
            class="
              flex
              justify-between
              items-center
              hover:bg-indigo-100
              dark:hover:bg-gray-700
              py-4
              px-4
              border-b
              dark:border-gray-700
            "
          >
            <div class="mr-2">
              <div>Product</div>
            </div>
            <span class="rounded-full bg-primary text-white px-2 py-1 text-xs font-bold">14</span>
          </a>
          <a
            target="_blank"
            [href]="apiBaseUrl + '/categories'"
            class="
              flex
              justify-between
              items-center
              hover:bg-indigo-100
              dark:hover:bg-gray-700
              py-4
              px-4
            "
          >
            <div class="mr-2">
              <div>Category</div>
            </div>
            <span class="rounded-full bg-primary text-white px-2 py-1 text-xs font-bold">14</span>
          </a>
          <a
            class="
              flex
              justify-between
              items-center
              hover:bg-indigo-100
              dark:hover:bg-gray-700
              py-4
              px-4
            "
          >
            <div class="mr-2">
              <div>Order</div>
            </div>
            <span class="rounded-full bg-primary text-white px-2 py-1 text-xs">Coming soon</span>
          </a>
        </div>
        <p class="mt-4">
          Note: resources have relations. For example: category have many product, product have many
          carts
        </p>
        <a routerLink="/docs" class="text-indigo-400 mt-4 inline-block"
          >Check all APIs documentation</a
        >
      </div>
      <div class="mt-16 px-4">
        <h3 class="text-3xl font-extrabold tracking-tight text-indigo-900 dark:text-indigo-200">
          Auth
        </h3>
        <p class="text-lg mt-2 text-gray-500">JWT Authentication</p>
        <ul class="shadow rounded max-w-xl mt-2">
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">Login</div>
            </div>
            <span class="text-primary">/auth/login</span>
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">Registration</div>
            </div>
            <span class="text-primary">/auth/register</span>
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">Refresh token</div>
            </div>
            <span class="text-primary">/auth/slug</span>
          </li>
        </ul>
        <a routerLink="/docs" class="text-indigo-400 mt-4 inline-block"
          >Check all APIs documentation</a
        >
      </div>
      <div class="mt-16 px-4">
        <h3 class="text-3xl font-extrabold tracking-tight text-indigo-900 dark:text-indigo-200">
          Routes
        </h3>
        <p class="text-lg mt-2 mb-2 text-gray-500">Http protocol is not supported</p>
        <h4 class="text-md mb-2 text-gray-500">Slug is used for Product, Category and user route use userId</h4>
        <ul class="shadow rounded max-w-xl">
          <li class="flex items-center justify-between font-bold bg-gray-400 p-4">
            <div class="ms-2 me-auto">
              <div>Methods</div>
            </div>
            <div>Endpoints</div>
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">GET</div>
            </div>
            <a class="text-primary" [href]="apiBaseUrl + '/products'">/products</a>
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">GET</div>
            </div>
            <a class="text-primary" [href]="apiBaseUrl + '/products/running-sneaker'"
              >/products/[slug]</a
            >
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">POST</div>
            </div>
            <a class="text-primary" [href]="apiBaseUrl + '/products/running-sneaker'"
              >/products/[slug]</a
            >
          </li>
          <li class="flex items-center justify-between px-4 py-4 border-b dark:border-gray-700">
            <div class="ms-2 me-auto">
              <div class="font-semibold">PUT</div>
            </div>
            <a class="text-primary" [href]="apiBaseUrl + '/products/running-sneaker'"
              >/products/[slug]</a
            >
          </li>
          <li class="flex items-center justify-between px-4 py-4">
            <div class="ms-2 me-auto">
              <div class="font-semibold">DELETE</div>
            </div>
            <a class="text-primary" [href]="apiBaseUrl + '/products/running-sneaker'"
              >/products/[slug]</a
            >
          </li>
        </ul>
        <p class="mt-4">Note: User and Cart case slug will replace by object _id.</p>
        <a routerLink="/docs" class="text-indigo-400 mt-4 inline-block"
          >Check all APIs documentation</a
        >
      </div>
      <!-- <div class="mt-16 px-4">
        <a href="https://namecheap.pxf.io/c/1287154/1184526/5618" target="_top" id="1184526"><img src="//a.impactradius-go.com/display-ad/5618-1184526" border="0" alt="" width="100%"/></a><img height="0" width="0" src="https://namecheap.pxf.io/i/1287154/1184526/5618" style="position:absolute;visibility:hidden;" border="0" />
      </div> -->
    </div>
  </div>
</div>
<!-- Footer -->
<!-- <app-footer></app-footer> -->