/* ---------------- 01. Angular Material Start -------------- */ 
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$store-primary: mat.define-palette(mat.$cyan-palette);
$store-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$store-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$store-theme: mat.define-light-theme(
  (
    color: (
      primary: $store-primary,
      accent: $store-accent,
      warn: $store-warn
    )
  )
);

$store-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $store-primary,
      accent: $store-accent,
      warn: $store-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($store-theme);
.dark {
  background-color: var(--bg-color);
  color: #ffffff;
  @include mat.all-component-colors($store-dark-theme);
  .mat-drawer {
    background-color: var(--sidenav-bg-color);
    &-container {
      background-color: var(--bg-color);
    }
  }
  .mat-table {
    background-color: var(--bg-card);
  }
  .mat-select-panel,
  .mat-menu-panel,
  .mat-dialog-container {
    background-color: var(--bg-popup);
  }
}
/* ---------------- 01. Angular Material End -------------- */ 

/* ---------------- 02. TailwindCss Start -------------- */ 
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------------- 02. TailwindCss End -------------- */ 

/* ---------------- 03. External Our Library Start -------------- */
@import 'prismjs/themes/prism-okaidia.css';
/* ---------------- 03. External Our Library End -------------- */ 

/* ---------------- 03. Custom/Internal Our Library Start -------------- */ 
/* ---------------- 03. Custom/Internal Our Library End -------------- */ 

/* You can add global styles to this file, and also import other style files */
// Core Theme
@import './assets/scss/variables.scss';
@import './assets/scss';

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.3px;
}
a {
  transition: all 0.3s linear;
}
.light {
  background: #fafafa;
}
.container {
  &-fluid {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @apply pl-4 pr-4;
  }
}

@screen xxl {
  .container {
    &-fluid {
      @apply pl-8 pr-8;
    }
  }
}
.global-loader {
  @apply fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

