.page {
  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__content {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: auto;
    flex: 1;
    @apply px-page;
  }
  &__inner,
  &__table {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
    @apply pb-4;
  }
  &__inner {
    @apply pt-4;
  }
  &__toolbar {
    @apply bg-gray-100;
    @apply p-page flex items-center flex-wrap;
  }
}
@media (max-width: 499px) {
  .page {
    &__inner,
    &__table {
      @apply px-2;
    }
  }
}
.dark {
  .page {
    &__toolbar {
      background-color: var(--bg-color);
    }
  }
}
